{% extends 'main/base.html' %}
{% load static %}

{% block title %}   Question's answers  {% endblock %}


{% block content %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <!-- ######### Question Section Start ############ -->
            <div class="container ms-3">    
                <div class="row">
                        <div class="col-1 pt-4">
                            {% if request.user.is_authenticated %}
                                <!------------- Start Upvote Question ---------------->
                                <a href="{% url 'main:upgrade_question' question.id %}" data-toggle="tooltip" title="This question is useful">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                                        <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                    </svg>
                                </a>
                                <!------------- End Upvote Question ---------------->
                                <h5 style="margin-left: 15px;">{{ question_score }}</h5>
                                <!------------- Start Downvote Question ------------->
                                <a href="{% url 'main:downgrade_question' question.id %}" data-toggle="tooltip" title="This question is not useful">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16" >
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                    </svg>
                                </a>
                                <!------------- End Downvote Question ---------------->
                                <a href="{% url 'main:cancel_question_vote' question.id %} " style="margin-left: 10px;" data-toggle="tooltip" title="cancel my vote">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>

                        <div class="col-10 pt-5">
                            <div class="post-preview mb-5 ">
                                <h2 class="post-title">{{ question.title}}</h2>
                                <p style="font-size: small;" class="post-meta">
                                    Asked by
                                    <a href="{% url 'main:others_profile_page'  question.user.id  %}"> 
                                        <strong>{{ question.user.username}}</strong> 
                                    </a>
                                    on {{ question.asked_at}}
                                </p>

                                <h4> {{ question.details }}</h4>    
                            </div>         
                        </div>  
                       <!-- ----------- Delete Question ----------- -->
                        <div class="col-1 mt-5">
                            {% if request.user.is_staff %}
                              <a  href="{% url 'main:delete_question' question.id %}" style="display: inline;">
                                <button type="button" class="btn btn-outline-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                  </svg>
                                </button>
                              </a>
                            {% endif %}
                        </div>   
                    <hr class="my-4"/>     
                </div>
            </div>

            <!-- ######### Question Section End ############ -->



            <!-- ######### Answers Section Start ############ -->
            <div class="container ms-3 mt-5 ">
                <h4 class="mb-5"> {{ answers_number }} Answers</h4>
                {% for answer in answers %}
                    <div class="row">
                        <div class="col-1 pt-1">
                            {% if request.user.is_authenticated %}
                                <!------------- Start Upvote Answer ---------------->
                                <a href="{% url 'main:upgrade_answer' question.id answer.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                                        <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                    </svg>
                                </a>
                                <!------------- End Upvote Answer ---------------->
                                <h5 style="margin-left: 15px; font-size: medium;">{% if answer == voted_answer %}{{ answer_score }} {% endif %}</h5>
                                <!------------- Start Downvote Answer ------------->
                                <a href="{% url 'main:downgrade_answer' question.id answer.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                    </svg>
                                </a>
                                <!------------- End Downvote Answer ---------------->
                                <a href="{% url 'main:cancel_answer_vote' question.id answer.id %} " style="margin-left: 3px;" data-toggle="tooltip" title="cancel my vote">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                        
                        <div class="col-10 pt-4">
                            <div class="post-preview">
                                <p>{{ answer.answer }}</p>
                                <p style="font-size: small;" class="post-meta">
                                    Answered by
                                    <a href="{% url 'main:others_profile_page'  answer.user.id  %}">
                                        <strong>{{ answer.user.username}}</strong>
                                    </a>
                                    on {{ answer.answered_at}}
                                </p>
                            </div>
                        </div>
                        <!-- ------- Delete Answer --------- -->
                        <div class="col-1 mt-5"  >
                            {% if request.user.is_staff %}
                            <a  href="{% url 'main:delete_answer' answer.id %}" style="display: inline;">
                                <button type="button" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                </svg>
                                </button>
                            </a>
                            {% endif %}
                        </div>
                        <hr class="my-4" style="width: 700px;" />
                    </div>
                {% endfor %}
            </div>

        <!-- ######### Answers Section End ############ -->



        <!-- ######### Post Answer Section Start ############ -->
        <div id="container">
            <form method="post" action="" > 
                {% csrf_token %}
                <div class="container" style="padding: 20px;">
                    
                    <div class="mb-3">
                        <label for="Answer" class="form-label">Your Answer</label>
                        <textarea name="answer" style="height: 200px;" class="form-control"  rows="3" required></textarea>
                    </div>
                </div>
                <button class="btn btn-primary ms-5" type="submit">Post Your Answer</button>
        
            </form>
        </div>
        <!-- ######### Post Answer Section End ############ -->
        </div>

        <!-- ################# Navigation Sidbar Start ################## -->
        <div class="col-6 col-md-4" style="margin-top: 140px;">
            <div class="position-sticky bg-light rounded" style="top: 2rem;">
                <div class="p-4 mb-3">
                    <ul class="list-group  bg-transparent  list-group-flush " >
                        <a href="{% url 'main:index_page' %}">
                            <li class="list-group-item  bg-transparent border-0 ">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                                </svg>
                                Questions
                            </li>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'main:my_questions_page' %}">
                                <li class="list-group-item  bg-transparent border-0" style="margin-left: 25px;">
                                    My Questions
                                </li>
                            </a>
                            <a href="{% url 'main:my_answers_page' %}">
                                <li class="list-group-item  bg-transparent border-0" style="margin-left: 25px;">
                                    My Answers
                                </li>
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- ################# Navigation Sidbar Section End ################## -->

    </div>
</main>

  


{% endblock %}
