{% extends 'main/base.html' %}
{% load static %}

{% block title %} My Profile {% endblock %}


{% block content %}

<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto"> <!-- Profile widget --> 
        <div class="bg-white shadow rounded overflow-hidden"> 
            <div class="px-4 pt-0 pb-4 cover"> 
                <div class="media align-items-end profile-head"> 
                    <div class="profile mr-3">
                        <h3 style="position: absolute; margin:20px 0 0 160px; color: white;">{{ user.username }}</h3>
                        <p style="position: absolute; margin:50px 0 0 170px; color: white; font-size: small;">Score: {{ total_user_score }} </p>
                        <img src="{{ request.user.profile.profile_image.url}}" style="height: 130px; width: 130px;" alt="{{user.username}} image"  class="rounded mb-2 img-thumbnail">  
                    </div> 
                </div> 
            </div> 
            <a href="{% url 'main:edit_profile_page' user.id%}" class="btn btn-outline-dark btn-sm btn-block" style="margin: 60px 0px 0px 25px; width: 130px;">Edit profile</a>
            <div class="bg-light p-4 d-flex justify-content-end text-center"> 
                <p style="margin-right: 26%;">Email: {{user.email}} </p>
                <ul class="list-inline mb-0"> 
                    <li class="list-inline-item"> 
                        <a href="{% url 'main:my_questions_page' %}">
                            <h5 class="font-weight-bold mb-0 d-block">{{ questions_number }}</h5>
                            <small class="text-muted"> <i class="fas fa-user mr-1"></i>Questions</small> 
                        </a>
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="{% url 'main:my_answers_page' %}">
                            <h5 class="font-weight-bold mb-0 d-block">{{answers_number}}</h5>
                            <small class="text-muted"> <i class="fas fa-user mr-1"></i>Answers</small> 
                        </a>
                    </li> 
                </ul> 
            </div> 
            <div class="px-4 py-3"> 
                <h5 class="mb-0">About</h5> 
                <div class="p-4 rounded shadow-sm bg-light"> 
                    <p class="font-italic mb-0">{{ user.profile.about }}</p> 
                    
                </div> 
            </div>     
        </div> 
    </div>
</div>


{% endblock %}