{% extends 'main/base.html' %}
{% load static %}

{% block title %}   New Account  {% endblock %}


{% block content %}



<div class="container_Register" id="container">
		<!-- ------------- Signup Section -------------- -->
	<div class="form-container sign-up-container">
		<form method="post" action="" enctype="multipart/form-data" class="form_Register"  >
            {% csrf_token %}
			<h2 class="h1_Register">Create Account</h2>
			
			<input name="username" type="text" class="input_Register" placeholder="Name" required />
			<input name="email" type="email" class="input_Register" placeholder="Email" required/>
			<input name="password" type="password" class="input_Register" placeholder="Password" pattern=".{8,12}"   required title="8 to 12 characters" required />
			<div class="mb-3">
                <label for="Details" class="form-label" >About You: </label>
				<label style="font-size: small;"><< optional >></label>
                <textarea name="about" class="form-control"  style="height: 10px; width: 290px; display: inline;vertical-align: middle;" rows="3"></textarea>
            </div>
			<div class="mt-1 mb-2">
                <label >Profile Image: <label style="font-size: small;"><< optional >></label></label>
                <input type="file" name="profile_image" class="form-control"/>
            </div>
			<button class="button_Register" type='submit' name='submit' value='sign_up'>Sign Up</button>
		</form>
	</div>
	<!-- ------------- Signin Section -------------- -->
	<div class="form-container sign-in-container">
		<form method="post" action="" class="form_Register">
            {% csrf_token %}
			<h1 class="h1_Register mb-5">Sign in</h1>
			<input name="username" type="username" class="input_Register" placeholder="username" required />
			<input name="password" type="password" class="input_Register" placeholder="Password" required />
			<button class="button_Register" type='submit' name='submit' value='sign_in' style="margin-top: 65px;">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<div>
					<img src="{% static 'img/MD-4.png' %}" style="height: 150px; width: 150px; border-radius: 50%;  margin-top: -30px; margin-bottom: 30px;" alt="Logo">
				</div>
				<h1 class="h1_Register">Welcome Back!</h1>
				<p class="p_Register">To keep connected with us please login with your personal info</p>
				<button class="ghost button_Register" id="signIn" style="margin-top: 105px;  " >Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<div>
					<img src="{% static 'img/MD-4.png' %}" style="height: 150px; width: 150px; border-radius: 50%; margin-top: -30px; margin-bottom: 30px;" alt="Logo">
				</div>
				<h1 class="h1_Register">Hello, Friend!</h1>
				<p class="p_Register">Enter your personal details and start journey with us</p>
				<button class="ghost button_Register" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
			{% if signup_msg %}
				<h6 class="text-danger" style="margin-left: 600px; margin-top: -50px;">{{signup_msg}}</h6>
			{% endif %}


	
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}